<h1>
  Welcome to {{ title }}!
</h1>
<!-- <app-any></app-any> -->
<!-- <app-v01_subscribe_only></app-v01_subscribe_only> -->

<p>
  Please open browser developer console (F12 or option + cmd + I) to observe event logs and how subscription is working even after navigation to other components
</p>

<button type="button" (click)="navigate('home')">Navigate Home</button>
<button type="button" (click)="navigate('any')">Navigate Any</button>
<button type="button" (click)="navigate('v01_subscribe_only')">Navigate Subscribe Only</button>
<button type="button" (click)="navigate('v02_unsubscribe')">Navigate Unsubscribe</button>
<button type="button" (click)="navigate('v03_take_while')">Navigate Take While</button>
<button type="button" (click)="navigate('v04_take_until')">Navigate Take Until</button>
<button type="button" (click)="navigate('v05_async_pipe')">Navigate Async Pipe</button>
<button type="button" (click)="navigate('v06_until_destroyed')">Navigate Until Destroyed</button>
<button type="button" (click)="navigate('v07_async_template_multiple')">Navigate Async Template Multiple</button>
<button type="button" (click)="navigate('v08_async_endless_loop')">Navigate Async Endless Loop</button>
<button type="button" (click)="navigate('v09_async_template_props')">Navigate Async Template Props</button>
<button type="button" (click)="navigate('v10_async_share')">Navigate Async Share</button>
<button type="button" (click)="navigate('iterate03')">Navigate Iterate03</button>

<router-outlet></router-outlet>
