<h1>
  Welcome to {{ title }}!
</h1>
<!-- <app-any></app-any> -->
<!-- <app-subscription01></app-subscription01> -->

<button type="button" (click)="navigateAny()">Navigate Any</button>
<button type="button" (click)="navigateSubscription01()">Navigate Subscription01</button>
<button type="button" (click)="navigateSubscription02()">Navigate Subscription02</button>
<button type="button" (click)="navigateSubscription03()">Navigate Subscription03</button>
<button type="button" (click)="navigateSubscription04()">Navigate Subscription04</button>
<button type="button" (click)="navigateSubscription05()">Navigate Subscription05</button>

<router-outlet></router-outlet>
